/*.cosa {
  --ion-background-color:rgb(201, 0, 0);
}
.back{
  --ion-background-color:rgb(78, 20, 20);
}
.card {
  background-color: rgb(255, 130, 13);
}*/
.my-modal {
    .modal-wrapper {
      position: absolute;
      top: 0 !important;
      left: 0 !important;
      display: block;
      width: 100% !important;
      height: 100% !important;
    } 
  }
  ion-select {
    .select-icon {
      .select-icon-inner {
         color : red !important;
      }
    }
  }
